container_commands:
  00_create_dir:
    command: mkdir -p /var/log/django
  01_change_permissions:
    command: chmod -R 766 /var/log/django
files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/django.conf":
    mode: "000755"
    owner: root
    owner: root
    group: root
    content: |
      /var/log/django/django_app.log